In [1]:
# --- isdigit() / isnumeric() ---

In [2]:
#1. Validate that an ID column contains only numbers before database insert

ids = ["12345", "67890", "12a45"]
valid_ids = [i for i in ids if i.isdigit()]
print(valid_ids)

['12345', '67890']

In [3]:
#2. Filter out corrupted numeric fields from CSV import

rows = ["1000", "200", "30O", "5000"]  # 'O' instead of zero
clean_rows = [r for r in rows if r.isdigit()]
print(clean_rows)

['1000', '200', '5000']

In [5]:
#3. Detect columns that should be integers but contain text

dataset = [["123", "Alice"], ["456", "Bob"], ["12x", "Charlie"]]
bad_rows = [row for row in dataset if not row[0].isdigit()]
print(bad_rows)

[['12x', 'Charlie']]

In [7]:
#4.Validate year values before transforming into datetime

years = ["2025", "1999", "20A0"]
valid_years = [y for y in years if y.isdigit() and len(y) == 4]
print(valid_years)

['2025', '1999']

In [9]:
#5. Filter numeric-only ZIP codes in an ETL process

zips = ["12345", "AB123", "54321"]
valid_zips = [z for z in zips if z.isdigit()]
print(valid_zips)

['12345', '54321']

In [10]:
# ----- isalpha() ----

In [11]:
#6. Validate that a name column contains only letters (no digits or symbols)
names = ["Alice", "Bob", "John3", "Mary-Jane"]
valid_names = [n for n in names if n.isalpha()]
print(valid_names)

['Alice', 'Bob']

In [12]:
#7. Filter country codes to ensure they are purely alphabetic

codes = ["US", "GB", "FR1", "U$"]
valid_codes = [c for c in codes if c.isalpha()]
print(valid_codes)

['US', 'GB']

In [13]:
#8. Detect invalid category labels before loading into a database

categories = ["Electronics", "Furniture", "Books1", "Toys"]
invalid = [c for c in categories if not c.isalpha()]
print(invalid)

['Books1']

In [14]:
#9.  Extract only alphabetic tokens from free text

text = "Order 123 shipped to USA"
alpha_tokens = [t for t in text.split() if t.isalpha()]
print(alpha_tokens)

['Order', 'shipped', 'to', 'USA']

In [16]:
#10. Validate city names in an address dataset

cities = ["London", "Paris", "NewYork1"]
valid_cities = [c for c in cities if c.isalpha()]
print(valid_cities)

['London', 'Paris']

In [17]:
# ----- isalnum() ----

In [18]:
#11. Validate customer IDs containing only letters and numbers

ids = ["AB123", "12345", "A1B2C3", "AB_123"]
valid_ids = [i for i in ids if i.isalnum()]
print(valid_ids)

['AB123', '12345', 'A1B2C3']

In [20]:
#12.  Filter out usernames with special characters

usernames = ["john123", "alice", "bob!", "mike_99"]
clean_usernames = [u for u in usernames if u.isalnum()]
print(clean_usernames)

['john123', 'alice']

In [22]:
#13. Detect invalid product codes before an API call

products = ["P1234", "Q5678", "R-9999"]
valid_products = [p for p in products if p.isalnum()]
print(valid_products)

['P1234', 'Q5678']

In [24]:
#14. Check if all tokens in a dataset column are alphanumeric

values = ["abc123", "xyz", "test@", "hello1"]
valid_values = [v for v in values if v.isalnum()]
print(valid_values)

['abc123', 'xyz', 'hello1']

In [25]:
#15. Validate serial numbers in manufacturing data

serials = ["SN12345", "SN67890", "SN 123"]
valid_serials = [s for s in serials if s.isalnum()]
print(valid_serials)

['SN12345', 'SN67890']

In [26]:
# ---- isspace() ---

In [28]:
#16. Detect empty/blank rows in CSV content

rows = ["123,John,USA", "   ", "\t", "456,Alice,UK"]
blank_rows = [r for r in rows if r.isspace() or r == ""]
print(blank_rows)

['   ', '\t']

In [29]:
#17. Skip whitespace-only lines when reading a text file

text = "data1\n   \ndata2\n\t\ndata3"
lines = [l for l in text.splitlines() if not l.isspace()]
print(lines)

['data1', 'data2', 'data3']

In [31]:
#18. Identify whitespace padding in fixed-width text files

field = "     "
print(field.isspace())

True

In [33]:
#19.Remove lines that contain only tabs/spaces before processing

lines = ["value1", "    ", "\t\t", "value2"]
clean_lines = [l for l in lines if not l.isspace()]
print(clean_lines)

['value1', 'value2']

In [32]:
#20. Validate that an optional field is actually blank

optional_field = "   "
if optional_field.isspace():
    print("Field is blank")

Field is blank